{% extends 'plants/main.html' %}
{% load html_filters %}

{% block content %}

	<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">


		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">

		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
		</div>
	</div>
</div>


<br>
<div class="row">
	<div class="col">
		<div class="card card-body" style="min-height: 450px;">
			<h2 class="card-title" style="font-family: arial;">Add a New Field</h2>
			<form method="POST" id="submitform" action="{% url 'save_field_form' %}" enctype="multipart/form-data">
				{% csrf_token %}
				{{field_form.as_p}}
				<button class="btn btn-primary" type="submit">Make Field</button>
		  </form>
		</div>
	</div>
	<div class="col">
		<div class="card card-body" style="min-height: 450px; overflow-y: scroll;">
			<h2 class="card-title" style="font-family: arial;">Current Fields</h2>
				{% for field in fields %}
					<p>{{ field.field_id }} &nbsp; &nbsp; &nbsp;<select id="{{field.field_id}}_select">
						{% for username in usernames %}
						<option>
							{{username}}
						</option>
						{% endfor %}
					</select><a class="btn btn-primary" id="{{field.field_id}}_button" onclick="UpdateUserPerms(this.id)">Give Access</a>
					<a class="btn btn-warning" id="download_{{field.field_id}}" name="{{field.field_id}}" onclick="JsonDownload(this.name)">Download</a>
					<a class="btn btn-danger" href="{% url 'delete_field_form' field.field_id %}">Delete</a>
					<a id="access-msg", style="visibility: hidden;">User now has access to this field</a>
				</p> 
				{% endfor %}
		</div>
	</div>
</div>
<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
		</div>
	</div>
</div>

<script type="text/javascript">

	function UpdateUserPerms(buttonId) {
		var mySelect = document.getElementById(buttonId.split("_")[0] + "_select");
		var selectedIndex = document.getElementById(buttonId.split("_")[0] + "_select").selectedIndex;
		var chosenName = mySelect.options[mySelect.selectedIndex].text;
		document.getElementById("access-msg").style.visibility = "visible"
		$.ajax({
        url: '{% url "get_field_permissions" %}',
        data: {
          'username':chosenName,
          'fieldname':buttonId.split("_")[0]
        },
        dataType: 'json',
        success: function (data) {
          if (data.is_taken) {
            alert("A user with this username already exists.");
          }
        }
      });
	}

	function JsonDownload(name) {
		var storageObj = JSON.parse("{{ fields_dict|safe }}".replace(/'/g,'"'))[name];
		var dataStr = "data:text/json;charset=utf-8," + encodeURIComponent(JSON.stringify(storageObj));
		var dlAnchorElem = document.getElementById("download_" + name);
		dlAnchorElem.setAttribute("href",     dataStr     );
		dlAnchorElem.setAttribute("download", "field_info.json");
	}
</script>
{% endblock %}

