{%  extends 'plants/main.html' %}

{% block content %}
{% load static %}
{%  include 'plants/status.html' %}

<br>

<div class="row">
	<div class="col-md-5">
		<h5>CUSTOMERS:</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="">Create Customer</a>
			<div class='progress-wrapper'>
				<div id='progress-bar' class='progress-bar' style="background-color: #68a9ef; width: 0%;">&nbsp;</div>
			  </div>
			  <div id="progress-bar-message">Waiting for progress to start...</div>
			  <script src="{% static 'celery_progress/celery_progress.js' %}"></script>
			  <script>
				   console.log("{{task_id}}")
					// vanilla JS version
					$(function () {
						var progressUrl = "{% url 'celery_progress:task_status' task_id %}";
						CeleryProgressBar.initProgressBar(progressUrl)
					});
		   	 </script>
			<table class="table table-sm">
				<tr>
					<th></th>
					<th>Customer</th>
					<th>Phone</th>
				</tr>

				{% for customer in customers %}
					<tr>
						<td><a class="btn btn-sm btn-info" href="{% url 'celery_test' %}">CELERY</a></td>
						<td>{{customer.name}}</td>
						<td>{{customer.phone}}</td>
					</tr>
				{% endfor %}

			</table>
		</div>
	</div>

	<div class="col-md-7">
		<h5>LAST 5 ORDERS</h5>
		<hr>
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Product</th>
					<th>Date Orderd</th>
					<th>Status</th>
					<th>Update</th>
					<th>Remove</th>
				</tr>

				{% for order in orders %}
					<tr>
						<td>{{order.product}}</td>
						<td>{{order.date_created}}</td>
						<td>{{order.status}}</td>
                        <td><a class="btn btn-sm btn-info" href="{% url 'update_order' order.id %}">Update</a></td>
                        <td><a class="btn btn-sm btn-danger" href="{% url 'delete_order' order.id %}">Delete</a></td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>

</div>

{% endblock %}