{% extends 'plants/main.html' %}
{% load static %}
{% block content %}
{% include 'plants/status.html' %}

<style>
    .button {
        margin: 0;
        position: fixed;
        top: 33%;
        left: 5.8%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        display: inline-block;
        border-radius: 4px;
        background-color: #f4511e;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 28px;
        padding: 20px;
        width: 200px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
    }

    .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

    .button span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }

    .button:hover span {
        padding-right: 25px;
    }

    .button:hover span:after {
        opacity: 1;
        right: 0;
    }

    .card-body {
        width: 500px;
    }

    .view-button {
        top: 70%;
    }

    .instruction-box {
        border-style: solid;
        border-width: thick;
        border-color: #000000;
        position: fixed;
        left: .9%;
        top: 27.6%;
        margin-top: 6%;
    }

    #map {
        border-style: solid;
        border-width: thick;
        border-color: #000000;
        width: 80%;
        height: 60%;
        margin: 0; 
        position: absolute;  
        left: 19.5%; 
        top: 29%;
    }

    #saved {
        border-style: solid;
        border-width: thick;
        border-color: #beb4b4;
        width: 80%;
        height: 60%;
        margin: 0; 
        position: absolute;  
        left: 19.5%; 
        top: 29%;
    }

    .marker {
        width: 200px;
        height: 200px;
        background-size: cover;
        display: block;
    }

    .marker:active {
        cursor: url('https://tric-static-bucket.s3.us-east-2.amazonaws.com/media/asdf2/2020-07-20/3.jpg');
    }

    .tips {
        text-decoration: none;
        color: white;
        background-color: black;
        border-radius: 50%;
        padding: 4px 8px;
    }

    .tips:hover {
        background-color: rgb(31, 29, 29);
    }

    /* Style the tab */
    .tab {
        z-index: 1;
        position: absolute;
        top: 29.5vh;
        left: 19.73vw;
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

    /* Style the buttons that are used to open the tab content */
    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
    }

    /* Change background color of buttons on hover */
    .tab button:hover {
        background-color: rgb(95, 91, 91);
    }

    /* Create an active/current tablink class */
    .tab button.active {
        background-color: #ccc;
    }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }

    #favorites {
        transform: translate(21%, 4%);
        width: 83%;
        height: 85%;
        overflow-y: scroll;
    }

    select {
        appearance: none; 
        outline: 0; 
        background-color: #f1f1f1;
        color: black; 
        cursor: pointer; 
        border: none; 
        min-height: 5.2vh;
    }

    select:hover {
        background-color: rgb(95, 91, 91);
    }

    .calculation-box {
        height: 200px;
        width: 150px;
        position: absolute;
        bottom: 40px;
        left: 10px;
        background-color: rgba(255, 255, 255, 0.9);
        padding: 15px;
        text-align: center;
        z-index: 1; 
        transform: translate(247%, -38%);
    }

    .current-dataset {
        transform:translate(19.5%, 10%);
        font-size: 28px;
        font-family: arial;
    }

    .index-search {
        transform: translate(0%, 210%);
    }

    #favorite-indices {
        width: 20%;
        height: 61%;
        transform: translate(-40px, -400px);
        overflow-y: scroll;
    }

    .saved-changes-text {
        font-size: 18px; 
        width: 300px; 
        background-color:#f1f1f1; 
        font-family: arial; 
        transform: translate(0%, 280%);
    }

    .plant-popup .mapboxgl-popup-content {
        border: 2px solid rgb(32, 32, 32);
        background-color: rgb(219, 210, 210);
        width: 320px;
    }

    .save-popup .mapboxgl-popup-content {
        background-color: black; 
        font-size: 16px;
        color: white;
        font-family: arial;
    }

    .areaform-popup .mapboxgl-popup-content {
        background-color: #beb4b4;
        height: 500px; 
        width: 500px;
    }

    .enable {
        position: absolute;
        cursor: pointer;
        height: 50px;
        width: 300px;
        left: 50%;
        bottom: 30px;
        transform: translate3d(-10%, -180%, 0);
        font-size: 20px;
        background: white;
        box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);
    }
</style>

<p class="current-dataset" id="current-data">Current Dataset &#8594 </p>
<a class="button" href="{% url 'zip_upload' 'start' %}" style="vertical-align:middle"><span>Back</span></a>
<div class="instruction-box card" style="width: 22rem; min-height: 50%; max-height: 50%;">
    <div class="card-body" style="width: 400px">
      <a href="#" onclick="changeText('previous')" class="tips">&#8249;</a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <h5 class="card-title" style="font-family: fantasy; font-size: 28px; display: inline-block">Tips</h5>       
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<a href="#" onclick="changeText('next')" class="tips">&#8250;</a>
      <p id="tips-text" style="font-size: 21px; max-width: 80%; height: 40vh; overflow-y: scroll; overflow-x: hidden;">This is a map displaying your field. Zoom in with the scroll wheel
                           to get a better view of each strawberry icon. Each of these icons represents an actual 
                           on the ground location of a plant. Hover over them with the cursor to see more information,
                           like images, coordinates, and more. 
      </p>
    </div>
</div>

<div class="tabcontent" id="saved">
    <div class="index-search">
        <input id="plant-search-index" type="text" placeholder="Enter Plant #">
        <input id="plant-search-submit" type="submit" value="Search" onclick="goToPlant()">
    </div>
    <p class="saved-changes-text">All changes saved automatically</p>
    <p style="position: absolute; top: 0;">Current Favorites</p>
    <ul id="favorites"></ul>
    <h3 id="curr-favs" style="transform: translate(0px, -400px);">Current Favorites</h3>
    <ul id="favorite-indices"></ul>
</div>

<div class="tab">
    <button class="tablinks" onclick="switchTabs(event, 'map')">Map</button>
    <button class="tablinks" onclick="switchTabs(event, 'saved')">Saved Plants</button>
    <select id="dropdown" onchange="swapDataSets()" class="tablinks">
        <option style="display:none;" selected>Select Dataset</option>
        {% for filename in upload_names %}
            <option>{{ filename }}</option>
        {% endfor %}
    </select>
</div>

<div id="map"></div> <!-- The main map -->
<button class="enable">Highlight Area</button>
  
<div id="calc-box" class="calculation-box">
    <p>Highlight areas using the draw tool.</p>
    <div id="calculated-area" style="z-index: 1;"></div>
</div>

<script type="text/javascript">
var tipIndex = 0;
var areFavoritesLoaded = false;
var favorites = [];
var favoritesStorage = [];
var indicesAndNotes = {};
var MAX_MESSAGES = 3;
var noPlantsMsg = "<p id='noPlantsMsg'\
                    style='transform:translate(30%, 100%); width: 40%; height: 35%; font-size: 36px;\
                    font-family: arial; background-color: #D5CFCE; border: 3px solid #000'>No plants currently favorited,\
                    click on an icon in the map to see it in more detail here.</p>";


/*
* goToPlant, 
*
* Consumes: Nothing
* Produces: Nothing
*/
function goToPlant() {
    let plantIndex = document.getElementById("plant-search-index").value;
    let plantElement = document.getElementById("image_" + plantIndex);
    if (plantElement === null) {
        alert("No plant with this number has been favorited!")
    } else {
        plantElement.scrollIntoView();
    }
}


/*
* sendToDB, uses ajax to send the favorites list to the Django backend and save the favorites for later.
*
* Consumes: Nothing
* Produces: Nothing
*/
function sendToDB() {
    for (let i = 0; i < favoritesStorage.length; i++) {
        indicesAndNotes[favoritesStorage[i]] = document.getElementById("note_" + favoritesStorage[i]).value;
    }
    $.ajax({
        url: '{% url "save_favorite_plants" %}',
        data: {
          'current_dataset':meta_id,
          'notes':JSON.stringify(indicesAndNotes)
        },
        dataType: 'json',
        success: function (data) {
          if (data.is_taken) {
            alert("A user with this username already exists.");
          }
        }
      });
}


/*
* switchTabs, changes the content on the center of the screen from the MapBox map to 
*             scene for viewing and saving favorited plants and vice versa.
*
* Consumes: tab -> String, the tab to switch to 
* Produces: Nothing
*/
function switchTabs(event, tab) {
        var map = document.getElementById("map");
        var tabcontent = document.getElementsByClassName("tabcontent");
        var calcBox = document.getElementById("calc-box");

        if (tab === "saved") {
            map.style.visibility = "hidden"; // Hides the map
            calcBox.style.visibility = "hidden";
            document.getElementById(tab).style.display = "block";
            event.currentTarget.className += " active";
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) // Stop the interactivity for the tab so it doesn't get stuck on dark grey
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            addExistingFavorites();
            if (document.querySelector('[id^="note_"]') === null) {
                document.getElementById("favorites").innerHTML = noPlantsMsg;
            } else {
                let msg = document.getElementById("noPlantsMsg");
                if (msg != null) msg.parentNode.removeChild(msg);
            } 
        } else {
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            map.style.visibility = "visible";
            calcBox.style.visibility = "visible";
        }
}


/*
* appendFavorites, adds to the inner html of the list of favorite iondices for easier viewing for the user.
* Consumes: Nothing
* Produces: Nothing
*/
function appendFavorites() {
    favorites.sort()
    let hasNoPlants = true;
    
    if (document.querySelector('[id^="note_"]') != null)
        hasNoPlants = false;
    for (var i = 0; i < favorites.length; i++) { 
        addFavoriteHTML(favorites[i], hasNoPlants, null);
        document.getElementById("favorite-indices").innerHTML += "<p id='ezList_"+ favorites[i] +"' style='font-size: 16px;'>Plant " + favorites[i] + "</p>";
        hasNoPlants =  false;
    }
    favorites = []; // Remove from favorites once done so they don't get add more than once
    sendToDB();
}


/*
* addExistingFavorites, for each item in the meta data, if it has been favorited, it is
*                       rendered to the favorited list.
*
* Consumes: Nothing
* Produces: Nothing
*/
function addExistingFavorites() {
    if (!areFavoritesLoaded) {
        let hasNoPlants = true;
        for (let i = 0; i < meta_dict.length; i++) {
            if (meta_dict[i]['is_favorited'] === 'True') {
                addFavoriteHTML(i, hasNoPlants,  meta_dict[i]['notes']);
                document.getElementById("favorite-indices").innerHTML += "<p id='ezList_"+ i +"' style='font-size: 16px;'>Plant: " + i + "</p>";
                hasNoPlants = false;
            }
        }
        areFavoritesLoaded = true;
    }
}


/*
* addFavoriteHTML, adds the necessary html and styling for the given plant index.
* 
* Consumes: plantIndex -> number, the index of the plant
*           hasNoPlants -> number, indicates the margin of the first element should be different
*           notes -> text added by the user
* Produces: Nothing
*/
function addFavoriteHTML(plantIndex, hasNoPlants, notes) {
    let favoritesDiv = document.getElementById("favorites");
    let width = 1920;
    let height = 1080;
    let scaleReduce = 2.5;
    let newWidth = width/scaleReduce;
    let newHeight = height/scaleReduce;
    console.log("INDEX: " + plantIndex)
    let imageHTML = "<img name='" + plantIndex + "' id='" + "image_" + plantIndex + "' src=\"https://tric-static-bucket.s3.us-east-2.amazonaws.com/media/" + 
    meta_dict[plantIndex]['image'] + "\"" + " style=\"margin-bottom: -200px; width: " + newWidth + 'px' + "; height: " + newHeight 
    + 'px' + "; border: 1px solid black;\">";
    favoritesDiv.innerHTML += imageHTML;   

    let plantNumHTML = "<p name='" + plantIndex + "' style=\"display: table-row; width: 400px; height 200px; font-family: arial;\
    font-size: 24px; transform: translate(770px, -240px);\">Plant Number: " + plantIndex + "</p>";
    favoritesDiv.innerHTML += plantNumHTML; 

    let idHTML = "<p name='" + plantIndex + "' style=\"display: table-row; width: 400px; height 200px; font-family: arial;\
    font-size: 24px; transform: translate(770px, -160px);\">Random ID: " + meta_dict[plantIndex]["plant_id"] + "</p>";
    favoritesDiv.innerHTML += idHTML; 

    let coordsHTML = "<p name='" + plantIndex + "' style=\"display: table-row; width: 400px; height 200px; font-family: arial;\
    font-size: 16px; transform: translate(770px, -150px);\">Location: "
    + meta_dict[plantIndex]["updated_gps_lat"] + ", " + meta_dict[plantIndex]["updated_gps_lon"] + "</p>";
    favoritesDiv.innerHTML += coordsHTML; 

    let appendEnd = "</textarea></p>";
    if (notes != null) 
        appendEnd = notes + "</textarea></p>";
    let note = "<p name='" + plantIndex + "' style=\"display: table-row; width: 400px; height 200px; font-family: arial;\
    font-size: 24px; transform: translate(770px, -300px);\">Notes: <textarea onblur='sendToDB()' style=\"display: table-row; transform: translate(0px, 170px);\"\
    rows='5' cols='24' type='text' id='" + "note_" + plantIndex + "'\
    placeholder='Enter Notes...'>" + appendEnd;
    favoritesDiv.innerHTML += note;

    let delButton = "<a name='" + plantIndex + "' id='" + "delete_" + plantIndex + "' class='btn btn-sm btn-danger'\
    style='display: table-row; width: 200px; height 200px; font-family: arial;\
    font-size: 24px; transform: translate(770px, -130px);' onclick='removeFavorite(this.name)'>Remove</a>";
    favoritesDiv.innerHTML += delButton;

    favoritesStorage.push(plantIndex); // The favorites array needs to be cleared but I still need those indices when saving
}


/*
* removeFavorite, removes the image and additional information when the delete button is pressed.
*
* Consumes: name -> string, the id for the favorite
* Produces: Nothing
*/
function removeFavorite(name) {
    // Remove from screen
    let toRemove = document.getElementsByName(name);
    let parentNode = toRemove[0].parentNode;
    let length = toRemove.length;
    for (let i = 0; i < length; i++) {
        parentNode.removeChild(toRemove[0]);
    }    
    document.getElementById("ezList_"+name).remove();
    // Display message if no images remain
    if (document.querySelector('[id^="note_"]') === null) document.getElementById("favorites").innerHTML = noPlantsMsg;

    // Remove from database
    $.ajax({
        url: '{% url "remove_plant_index" %}',
        data: {
          'current_dataset':meta_id,
          'plant_index':name
        },
        dataType: 'json',
        success: function (data) {
          if (data.is_taken) {
            alert("A user with this username already exists.");
          }
        }
      });
}

/*
* changeText, changes the text of the tips box when next or previous button is pressed
* 
* Consumes: buttonType -> string, the next or previous button
* Produces: Nothing
*/
function changeText(buttonType) {
    let message = "";
    let temp = tipIndex;
    tipIndex = buttonType === "next" ? tipIndex+1 : tipIndex-1;
    if (tipIndex < 0) // Loop to the end
        tipIndex = MAX_MESSAGES;
    switch(tipIndex) {
            case 1:
                message = "Click on a plant you find interesting or want to save for later to save it. To view the plants\
                           you've saved, click on \"Saved Plants\" button in the top left corner of the map. There you can\
                           save the favorites you have for later or remove them. Click the map button to return to the map.";
                break;
            case 2: 
                message = "The closer to the ground you zoom in, the more plants you will be able to see. They get\
                           bigger/smaller based on how far you zoomed in or out.";
                break;
            case 3: 
                message = "Click the draw tool and make dots which will connect to form polygons. Click with\
                           both mouse buttons at the same time for the last point in your shape to exit draw mode. Click anywhere\
                           outside the orange highlighted shape to save, and it will turn blue. Click on the shape and then hit the\
                           trash button to remove it.";
                break;
            default:
                tipIndex = 0;
                message = "This is a map displaying your field. Zoom in with the scroll wheel\
                           to get a better view of each strawberry icon. Each of these icons represents an actual\
                           on the ground location of a plant. Hover over them with the cursor to see more information,\
                           like images, coordinates, and more. ";
        }
        document.getElementById('tips-text').innerHTML = message;
} 


/* saveLocal, saves a value as a string in local storage for later.
 *
 * Consumes: Key -> String, the key to store the data at
 * Produces: Nothing
 * 
*/
function saveLocal(key, value) {
    localStorage.setItem(meta_id + key, value);
}


/*
 * getLocal, gets a string from local storage from the current dataset.
 *
 * Consumes: value -> String, the value to get
 * Produces: A string containing the value
*/
function getLocal(value) {
    return localStorage.getItem(meta_id + value);
}


//-----------------------------------------------------------------------------------------------------------------------------------------
// MAPBOX STUFF
mapboxgl.accessToken = 'pk.eyJ1Ijoid2lsbGlhbWZveCIsImEiOiJja2JzY3V0dTcwMGJ6MnZzYWF2cjRsNXYwIn0.fbOk4CcYFDOMA_nG9JCauA';
var meta = JSON.parse("{{meta|safe}}".replace(/'/g,'"'));
var select = document.getElementById("dropdown");
var selected = select.selectedIndex;
var optionList = document.getElementsByTagName("option");
var currentData = localStorage.getItem("currentDataset");

var meta_id = currentData === null ? select[1].text : currentData; // Default to first available set
var meta_dict = meta[meta_id];
var currentDataLabel = document.getElementById("current-data");
currentDataLabel.innerHTML += meta_id;

function swapDataSets() {
    let mySelect = document.getElementById("dropdown");
    let new_meta_id = mySelect.options[mySelect.selectedIndex].text;
    meta_dict = meta[new_meta_id];
    localStorage.setItem("currentDataset", new_meta_id);
    location.reload();
}


var geojson = {
    'type': 'FeatureCollection',
    'features': [
        
    ]
};

for (let i = 0; i < meta_dict.length; i++) {
    var feature = {
            'type': 'Feature',
            'properties': {
            'message': 'Hello',
            'iconSize': [60, 60],
            'image': "https://tric-static-bucket.s3.us-east-2.amazonaws.com/media/" + meta_dict[i]['image']
        },
        'geometry': {
            'type': 'Point',
            'coordinates': [meta_dict[i]['updated_gps_lon'], meta_dict[i]['updated_gps_lat']]
        }
    }
    geojson['features'].push(feature);
}

// The main map instance for mapbox gl js, provides methods from the api
var map = new mapboxgl.Map({
container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
    center: [meta_dict[0]['updated_gps_lon'], meta_dict[0]['updated_gps_lat']],
    zoom: 15
});


// add markers to map
var berryCount = 0;
var berryList = [];

/*
* addIcons, adds a marker for mapbox gl js for each strawberry plant. This icon can be hovered over to see additional information
*           such as plant index, an image, and more. Clicking on the icon itself allows the user to savee that plant and its info
*           for later in the saved tab. This functiom is called to refresh the icons upon creating a rectangle with the highlight
*           tool so the lat and lon coordinates of each marker stay updated.
*
* Consumes: iconSize -> String, the size the icon should be for width, height
* Produces: Nothing
*/
function addIcons (iconSize) {
    berryList = [];
    geojson.features.forEach(function(marker) {
        // create a DOM element for the marker
        var berryIcon = document.createElement('div');
        berryIcon.className = 'marker';
        berryIcon.name = berryCount;
        berryIcon.id = 'icon_' + berryCount;
        berryIcon.style.backgroundImage = 'url(https://tric-static-bucket.s3.us-east-2.amazonaws.com/static/images/strawberry.png)';
        berryIcon.style.width = iconSize;
        berryIcon.style.height = iconSize;
        berryIcon.style.backgroundColor = 'rgba(0,255,0,.1)';
        berryIcon.style.borderRadius = '5px';

        // add marker to map
        var berryMarker = new mapboxgl.Marker(berryIcon)
        .setLngLat(marker.geometry.coordinates)
        .addTo(map);

        // Make popup, not added to map yet
        var popup = new mapboxgl.Popup({
            className: "plant-popup",
            closeButton: false,
            closeOnClick: false
        })
        .setLngLat(marker.geometry.coordinates)
        .setHTML(
                '<p><img src="' + marker.properties.image + '" style="max-height: 300; max-width: 300px;"></p>' // Add image to the popup
                + '<H4>Plant Number: '+ berryCount + ' </H4>' 
                + '<H4 style="font-size: 14px;">Latitude:' + marker.geometry.coordinates[0] + '</H4>'
                + '<H4 style="font-size: 14px;">Longitude:' + marker.geometry.coordinates[1] + '</H4>'
                + '<H4 style="background-color: red;">Has Flowers? No</H4>');


        var savePopup = new mapboxgl.Popup({
            className: "save-popup",
            closeButton: false,
            closeOnClick: false
        })
        .setLngLat(marker.geometry.coordinates)
        .setHTML( '<p">Saved</p>'
        );
        berryIcon.addEventListener('mousedown', function() {
            favorites.push(berryIcon.name);
            appendFavorites();
            savePopup.addTo(map);
        });

        berryIcon.addEventListener('mouseup', function () {
            setTimeout(function(){ savePopup.remove(); }, 800);
            
        });

        berryIcon.addEventListener('mouseenter', function() {
            berryIcon.style.zIndex = "1"; // Bring icon being hovered to front
            map.getCanvas().style.cursor = 'crosshair'; // Change cursor to indicate response
            popup.addTo(map);
        });

        berryIcon.addEventListener('mouseleave', function() {
            berryIcon.style.zIndex = "0"; // Put it back down
            map.getCanvas().style.cursor = '';
            popup.remove();
        });
        berryList.push(map.project([berryMarker._lngLat.lng, berryMarker._lngLat.lat]));
        berryCount++;
    });
}


addIcons("30px"); // Add them on page load for the first time
function updateIconSize() {
    if (map.getZoom() > 21.5) {
        sizeUpdater("15px");
    } else {
        sizeUpdater("30px");
    }
}


/*
* sizeUpdater, updates the size of the marker elements. So the strawberry icons. 
*
* Consumes: size -> String, the size (height, width) in pixels the icons should be set to. 
* Produces: Nothing
*/
function sizeUpdater(size) {
    let docElement = document.getElementsByClassName("marker");
    for (let i = 0; i < docElement.length; i++) {
        docElement[i].style.width = size;
        docElement[i].style.height = size;
    }
}


//----------------------------------------------------------------------------------------------------------------------------------------
// AREA HIGHLIGHTING

// Mapbox gl js draw setup
var draw = new MapboxDraw({
    displayControlsDefault: false,
    modes: {
        ...MapboxDraw.modes,
        'draw_rectangle_drag': mapboxGLDrawRectangleDrag
  }
});

const nav = new mapboxgl.NavigationControl({
  showCompass: false
});

map.addControl(nav, 'top-right');
map.addControl(draw, 'top-right');

document
  .querySelector('.enable')
  .addEventListener('click', () => {
    draw.changeMode('draw_rectangle_drag');
  });

var geojsonFormat = {
    "type": "Feature",
    "geometry": {
        "type": "Polygon",
        "coordinates": [
            [
                
            ]
        ]
    },
    "properties": {
        "name": ""
    }
};

var cursorCoords;
var mouseButton;
map.on('draw.create', updateArea);
map.on('draw.delete', updateArea);
map.on('draw.update', updateArea);
map.on('draw.selectionchange', updateArea);
map.on('zoom', updateIconSize)
map.on('mousedown', e => { cursorCoords = e.point; console.log(e.point); });
document.addEventListener('mousedown', (e) => { mouseButton = e.button; });


// For getting the coordinates of each shape in the current session
var storageKeyList = [];
for ( var i = 0, len = localStorage.length; i < len; ++i ) {
    if (localStorage.key(i).includes(meta_id + "_")) {
        let modifiedKey = localStorage.key(i).split("_")[1]
        storageKeyList.push(modifiedKey);
    }
}
for (let i = 0; i < storageKeyList.length; i++) {
    coords = getLocal("_" + storageKeyList[i]).split(",");
    for (let j = 0; j < coords.length-1; j += 2) 
        geojsonFormat.geometry.coordinates[0].push([parseFloat(coords[j]), parseFloat(coords[j+1])]);
    draw.add(geojsonFormat);
    geojsonFormat.geometry.coordinates[0] = []; // Reset
}


/*
* updateLatLon, updates the latitude and longitude of the berry icons based on new zoom level.
*               Gets called after a new shape is added. Binding this to the zoom event proved to 
*               be very slow.
* 
* Consumes: Nothing
* Produces: Nothing
*/
function updateLatLon() {
    berryList = [];
    favorites = [];
    berryCount = 0;
    let size = map.getZoom() > 21.5 ? "15px" : "30px";
    addIcons(size);
}


/*
 * updateArea, gets the area in square meters made with polygonson the map. Also save the polygons
 *             coordinates in local storage.
 *
 * Consumes: e -> event, the event of the draw action
 * Produces: Nothing
*/
function updateArea(e) {
    if (e.type === 'draw.selectionchange' && draw.getSelected().features.length && mouseButton === 0) { // 0 for left mouse button
        updateLatLon();
        let gpsCoords = draw.getSelected().features[0].geometry.coordinates[0];
        let topLeft = map.project([gpsCoords[0][0], gpsCoords[0][1]]);
        let bottomRight = map.project([gpsCoords[2][0], gpsCoords[2][1]]);
        generateInfoForm([topLeft, bottomRight]);
    }
    if (e.type === 'draw.selectionchange' && mouseButton == 2) { // 2 is for right mouse button
        draw.trash()
    }
    let data = draw.getAll();
    var answer = document.getElementById('calculated-area');
    if (e.type === "draw.delete") {
        draw.delete(e.features[0].id);
        if (e.features[0].geometry.coordinates[0].includes(e.features[0].geometry.coordinates[0][0])) {
            localStorage.removeItem(meta_id + "_" + e.features[0].geometry.coordinates[0][0])
        }
    }
    if (e.type === "draw.create") {
        saveLocal("_" + e.features[0].geometry.coordinates[0][0], e.features[0].geometry.coordinates);
    }
    if (data.features.length > 0) {
        var area = turf.area(data);
        // restrict to area to 2 decimal points
        var rounded_area = Math.round(area * 100) / 100;
        answer.innerHTML =
        '<p><strong>' + 
        rounded_area +
        '</strong></p><p>total square meters</p>';
    } else {
        answer.innerHTML = '';
    }
}


//-----------------------------------------------------------------------------------------------------------------------------------------
// Area Form 

/*
* generateInfoForm, when an area highlighted by the user is clicked, this function displays a popup with a form to 
*                   fill out about the details of that area. Like the soil type, and the family of the plants.
*
* Consumes: Nothing
* Produces: Nothing
*/
function generateInfoForm(selectedPolygon) {
    let plantsInside = [];
    console.log(selectedPolygon)
    for (let i = 0; i < berryList.length; i++) { // Checking to see if plant is inside shaded rectangle
        console.log(berryList[i])
        if (berryList[i].x > selectedPolygon[0].x && berryList[i].y > selectedPolygon[0].y 
        && berryList[i].x < selectedPolygon[1].x && berryList[i].y < selectedPolygon[1].y) {
            console.log("IN")
        }
    }
    var areaFormPopup = new mapboxgl.Popup({
        className: "areaform-popup",
        closeButton: true,
        closeOnClick: true
    })
    .setLngLat(map.unproject([cursorCoords['x'], cursorCoords['y']]))
    .setHTML(   '<p>This is the form</p>' 
              + '<p>Soil Type: </p>'
              + '<input placeholder="enter type">'
              + '<button style="position: absolute; margin: 50% 0% 50% 0%;">Save</button>'
    );
    areaFormPopup.addTo(map);
}


</script>

{% endblock content %}