{% extends 'plants/main.html' %}
{% load static %}
{% block content %}
{% include 'plants/status.html' %}

<style>
    .button {
        margin: 0;
        position: fixed;
        top: 33%;
        left: 5.8%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        display: inline-block;
        border-radius: 4px;
        background-color: #f4511e;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 28px;
        padding: 20px;
        width: 200px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
    }

    .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

    .button span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }

    .button:hover span {
        padding-right: 25px;
    }

    .button:hover span:after {
        opacity: 1;
        right: 0;
    }

    .card-body {
        width: 500px;
    }

    .view-button {
        top: 70%;
    }

    .instruction-box {
        border-style: solid;
        border-width: thick;
        border-color: #000000;
        position: fixed;
        left: .9%;
        top: 27.6%;
        margin-top: 6%;
    }

    #map {
        border-style: solid;
        border-width: thick;
        border-color: #000000;
        width: 80%;
        height: 60%;
        margin: 0; 
        position: absolute;  
        left: 19.5%; 
        top: 29%;
    }

    #saved {
        border-style: solid;
        border-width: thick;
        border-color: #beb4b4;
        width: 80%;
        height: 60%;
        margin: 0; 
        position: absolute;  
        left: 19.5%; 
        top: 29%;
    }

    .marker {
        width: 200px;
        height: 200px;
        background-size: cover;
        display: block;
    }

    .tips {
        text-decoration: none;
        color: white;
        background-color: black;
        border-radius: 50%;
        padding: 4px 8px;
    }

    .tips:hover {
        background-color: rgb(31, 29, 29);
    }

    /* Style the tab */
    .tab {
        z-index: 1;
        position: absolute;
        top: 29.5vh;
        left: 19.73vw;
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

    /* Style the buttons that are used to open the tab content */
    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
    }

    /* Change background color of buttons on hover */
    .tab button:hover {
        background-color: rgb(95, 91, 91);
    }

    /* Create an active/current tablink class */
    .tab button.active {
        background-color: #ccc;
    }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }

    #favorites {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        overflow-y: scroll;
    }

    .save {
        vertical-align:middle; 
        transform:translate(138%, 50%); 
        width: 10vw; 
        background-color: #f1f1f1;
    }

    .save:hover {
        background-color: rgb(95, 91, 91);
    }

    select {
        appearance: none; 
        outline: 0; 
        background-color: #f1f1f1;
        color: black; 
        cursor: pointer; 
        border: none; 
        min-height: 5.2vh;
    }

    select:hover {
        background-color: rgb(95, 91, 91);
    }

    .highlight-overlay {
        z-index: -1;
        transform: translate(1485%, 40%);
        width: 120px;
        margin-bottom: -2px;
        background-color: #9c9999;
        font-size: 24px;
        font-family: arial;
        border-left-color: #000000;
    }

    .calculation-box {
        height: 200px;
        width: 150px;
        position: absolute;
        bottom: 40px;
        left: 10px;
        background-color: rgba(255, 255, 255, 0.9);
        padding: 15px;
        text-align: center;
        z-index: 1; 
        transform: translate(247%, -36%);
    }

    .current-dataset {
        transform:translate(19.5%, 49%);
        font-size: 28px;
        font-family: arial;
    }
</style>

<p class="current-dataset" id="current-data">Current Dataset &#8594 </p>
<a class="button" href="{% url 'zip_upload' 'start' %}" style="vertical-align:middle"><span>Back</span></a>
<div class="instruction-box card" style="width: 22rem; min-height: 50%; max-height: 50%;">
    <div class="card-body" style="width: 400px">
      <a href="#" onclick="changeText('previous')" class="tips">&#8249;</a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <h5 class="card-title" style="font-family: fantasy; font-size: 28px; display: inline-block">Tips</h5>       
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<a href="#" onclick="changeText('next')" class="tips">&#8250;</a>
      <p id="tips-text" style="font-size: 21px; max-width: 80%; height: 40vh; overflow-y: scroll; overflow-x: hidden;">This is a map displaying your field. Zoom in with the scroll wheel
                           to get a better view of each strawberry icon. Each of these icons represents an actual 
                           on the ground location of a plant. Hover over them with the cursor to see more information,
                           like images, coordinates, and more. 
      </p>
    </div>
</div>

<div class="tabcontent" id="saved">
    <a class="button save" onclick="saveLocal()"><span>save</span></a>
    <ul id="favorites" class="favs"></ul>
</div>

<div class="tab">
    <button class="tablinks" onclick="switchTabs(event, 'map')">Map</button>
    <button class="tablinks" onclick="switchTabs(event, 'saved')">Saved Plants</button>
    <select id="dropdown" onchange="swapDataSets()" class="tablinks">
        <option style="display:none;" selected>Select Dataset</option>
        {% for filename in upload_names %}
            <option>{{ filename }}</option>
        {% endfor %}
    </select>
</div>

<div id="map"></div> <!-- The main map -->
<p class="highlight-overlay">Draw</p>
<p class="highlight-overlay">Delete</p>
<div class="calculation-box">
    <p>Highlight areas using the draw tool.</p>
    <div id="calculated-area" style="z-index: 1;"></div>
</div>
<p id="userShapeComment"></p>

<script type="text/javascript">
var tipIndex = 0;
var favorites = [];
var MAX_MESSAGES = 3;


/*
* switchTabs, changes the content on the center of the screen from the MapBox map to 
*             scene for viewing and saving favorited plants and vice versa.
*
* Consumes: tab -> String, the tab to switch to 
* Produces: Nothing
*/
function switchTabs(event, tab) {
        var map = document.getElementById("map");
        if (tab === "saved") {
            map.style.visibility = "hidden"; // Hides the map
            document.getElementById(tab).style.display = "block";
            event.currentTarget.className += " active";
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) { // Stop the interactivity for the tab so it doesn't get stuck on dark grey
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            // Loop for displaying the berry icons
            let imgStyle = " border: 5px solid black; border-radius: 10%; margin-left: 150px; margin-top: 60px; margin-bottom: 200px;  max-height: 250px; max-width: 250px; ";
            let plantNumStyle = " style=\"margin-left: -11vw; margin-top: 250px;\"";
            let latStyle = " style=\"margin-left: -8vw; margin-top: 275px;\"";
            let lonStyle = " style=\"margin-left: -11.3vw; margin-top: 300px;\"";
            let flowerStyle = " style=\"margin-left: -10.9vw; margin-top: 325px;\"";
            let favoritesDiv = document.getElementById("favorites");
            for (var i = 0; i < favorites.length; i++) {
                let imageHTML = favorites[i]['imageLink'];
                let styleIndex = imageHTML.indexOf("style");
                let modifiedHTML = imageHTML.substring(0, styleIndex+7) + imgStyle + "\"></p>";
                favoritesDiv.innerHTML += modifiedHTML;   

                let plantNum = favorites[i]['plantNum'];
                let modifiedPlantNum = plantNum.substring(0, 3) + plantNumStyle + plantNum.substring(3, plantNum.length);
                favoritesDiv.innerHTML += modifiedPlantNum; 

                let lat = favorites[i]['latitude'];
                let latStyleIndex = lat.indexOf("style");
                let modifiedLat = lat.substring(0, latStyleIndex) + latStyle + lat.substring(28, lat.length);
                favoritesDiv.innerHTML += modifiedLat;

                let lon = favorites[i]['longitude'];
                let lonStyleIndex = lon.indexOf("style");
                let modifiedLon = lon.substring(0, lonStyleIndex) + lonStyle + lon.substring(28, lon.length);
                favoritesDiv.innerHTML += modifiedLon; 
    
                let flowers = favorites[i]['hasFlowers'];
                let flowerStyleIndex = flowers.indexOf("style");
                let modifiedFlowers = flowers.substring(0, flowerStyleIndex) + flowerStyle + flowers.substring(34, flowers.length);
                console.log(modifiedFlowers);
                favoritesDiv.innerHTML += modifiedFlowers;         
            }
        } else {
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            map.style.visibility = "visible";
        }
}


/*
* changeText, changes the text of the tips box when next or previous button is pressed
* 
* Consumes: buttonType -> string, the next or previous button
* Produces: Nothing
*/
function changeText(buttonType) {
    let message = "";
    let temp = tipIndex;
    tipIndex = buttonType === "next" ? tipIndex+1 : tipIndex-1;
    if (tipIndex < 0) // Loop to the end
        tipIndex = MAX_MESSAGES;
    switch(tipIndex) {
            case 1:
                message = "Click on a plant you find interesting or want to save for later to save it. To view the plants\
                           you've saved, click on \"Saved Plants\" button in the top left corner of the map. There you can\
                           save the favorites you have for later or remove them. Click the map button to return to the map.";
                break;
            case 2: 
                message = "The closer to the ground you zoom in, the more plants you will be able to see. They get\
                           bigger/smaller based on how far you zoomed in or out.";
                break;
            case 3: 
                message = "Click the draw tool and make dots which will connect to form polygons. Click with\
                           both mouse buttons at the same time for the last point in your shape to exit draw mode. Click anywhere\
                           outside the orange highlighted shape to save, and it will turn blue. Click on the shape and then hit the\
                           trash button to remove it.";
                break;
            default:
                tipIndex = 0;
                message = "This is a map displaying your field. Zoom in with the scroll wheel\
                           to get a better view of each strawberry icon. Each of these icons represents an actual\
                           on the ground location of a plant. Hover over them with the cursor to see more information,\
                           like images, coordinates, and more. ";
        }
        document.getElementById('tips-text').innerHTML = message;
} 


/*
* parseIconHTML, parses the html associated with the strawberry icon hover html.
* 
* Consumes: htmlString -> String, the string to be parsed
* Produces: An array of strings (parsed)
*/
function parseIconHTML(htmlString) {
    let parsedString = "";
    let parsedArr = [];
    for (let i = 74; i < htmlString.length; i++) { // 74 because that's where the first <p> tag starts
        parsedString += htmlString[i];
            if (htmlString[i] === "<" && htmlString[i+1] === "/" && htmlString[i+6] != null) { // Ignore last </div>
                while (htmlString[i] != ">") {
                    i++;
                    parsedString += htmlString[i];
                }
                parsedArr.push(parsedString);
                parsedString = ""; // Reset
            }
        }
        return parsedArr;
}


/* saveLocal, saves a value as a string in local storage for later.
 *
 * Consumes: Key -> String, the key to store the data at
 * Produces: Nothing
 * 
*/
function saveLocal(key, value) {
    localStorage.setItem(meta_id + key, value);
}


/*
 * getLocal, gets a string from local storage from the current dataset.
 *
 * Consumes: value -> String, the value to get
 * Produces: A string containing the value
*/
function getLocal(value) {
    return localStorage.getItem(meta_id + value);
}
//-----------------------------------------------------------------------------------------------------------------------------------------
// MAPBOX STUFF
mapboxgl.accessToken = 'pk.eyJ1Ijoid2lsbGlhbWZveCIsImEiOiJja2JzY3V0dTcwMGJ6MnZzYWF2cjRsNXYwIn0.fbOk4CcYFDOMA_nG9JCauA';
var meta = JSON.parse("{{meta|safe}}".replace(/'/g,'"'));
console.log(meta)
var select = document.getElementById("dropdown");
var selected = select.selectedIndex;
var optionList = document.getElementsByTagName("option");
//localStorage.clear();
var currentData = localStorage.getItem("currentDataset");

var meta_id = currentData === null ? select[1].text : currentData; // Default to first available set
var meta_dict = meta[meta_id];
var currentDataLabel = document.getElementById("current-data");
currentDataLabel.innerHTML += meta_id;

function swapDataSets() {
    let mySelect = document.getElementById("dropdown");
    let new_meta_id = mySelect.options[mySelect.selectedIndex].text;
    meta_dict = meta[new_meta_id];
    localStorage.setItem("currentDataset", new_meta_id);
    location.reload();
}


var geojson = {
    'type': 'FeatureCollection',
    'features': [
        
    ]
};

for (let i = 0; i < meta_dict.length; i++) {
    var feature = {
            'type': 'Feature',
            'properties': {
            'message': 'Hello',
            'iconSize': [60, 60],
            'image': "https://tric-static-bucket.s3.us-east-2.amazonaws.com/media/" + meta_dict[i]['image']
        },
        'geometry': {
            'type': 'Point',
            'coordinates': [meta_dict[i]['updated_gps_lon'], meta_dict[i]['updated_gps_lat']]
        }
    }
    geojson['features'].push(feature);
}

var map = new mapboxgl.Map({
container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
    center: [meta_dict[0]['updated_gps_lon'], meta_dict[0]['updated_gps_lat']],
    zoom: 15
});

var draw = new MapboxDraw({
    displayControlsDefault: false,
    controls: {
        polygon: true,
        trash: true
    }
});

map.addControl(draw);
map.on('draw.create', updateArea);
map.on('draw.delete', updateArea);
map.on('draw.update', updateArea);
map.on('draw.selectionchange', updateArea);
map.on('zoom', updateIconSize)

var geojsonFormat = {
    "type": "Feature",
    "geometry": {
        "type": "Polygon",
        "coordinates": [
            [
                
            ]
        ]
    },
    "properties": {
        "name": ""
    }
};


// For getting the coordinates of each shape in the current session
var storageKeyList = [];
for ( var i = 0, len = localStorage.length; i < len; ++i ) {
 //console.log( localStorage.key(i) + localStorage.getItem( localStorage.key( i ) ) );

    if (localStorage.key(i).includes(meta_id + "_")) {
        console.log(localStorage.key(i));
        let modifiedKey = localStorage.key(i).split("_")[1]
        storageKeyList.push(modifiedKey);
    }
}

for (let i = 0; i < storageKeyList.length; i++) {
    coords = getLocal("_" + storageKeyList[i]).split(",");
    for (let j = 0; j < coords.length-1; j += 2) 
        geojsonFormat.geometry.coordinates[0].push([parseFloat(coords[j]), parseFloat(coords[j+1])]);
    draw.add(geojsonFormat);
    geojsonFormat.geometry.coordinates[0] = []; // Reset
}


/*
 * updateArea, gets the area in square meters made with polygonson the map. Also save the polygons
 *             coordinates in local storage.
 *
 * Consumes: e -> event, the event of the draw action
 * Produces: Nothing
*/
function updateArea(e) {
    let data = draw.getAll();
    var answer = document.getElementById('calculated-area');
    console.log(e)
    if (e.type === "draw.selectionchange") {
        let userShapeComment = document.getElementById("userShapeComment");
        userShapeComment.innerHTML = userAreaComment;
    }
    if (e.type === "draw.delete") {
        draw.delete(e.features[0].id);
        if (e.features[0].geometry.coordinates[0].includes(e.features[0].geometry.coordinates[0][0])) {
            localStorage.removeItem(meta_id + "_" + e.features[0].geometry.coordinates[0][0])
        }
    }
    if (e.type === "draw.create") {
        saveLocal("_" + e.features[0].geometry.coordinates[0][0], e.features[0].geometry.coordinates);
        var userAreaComment = window.prompt("Enter a comment about this area:");
    }
    if (data.features.length > 0) {
        var area = turf.area(data);
        // restrict to area to 2 decimal points
        var rounded_area = Math.round(area * 100) / 100;
        answer.innerHTML =
        '<p><strong>' + 
        rounded_area +
        '</strong></p><p>total square meters</p>';
    } else {
        answer.innerHTML = '';
    }
}



// add markers to map
let berryCount = 0;
var berryArray = [];
geojson.features.forEach(function(marker) {
    // create a DOM element for the marker
    var berryIcon = document.createElement('div');
    berryIcon.className = 'marker';
    berryIcon.style.backgroundImage = 'url(https://tric-static-bucket.s3.us-east-2.amazonaws.com/static/images/strawberry.png)';
    berryIcon.style.width = '30px';
    berryIcon.style.height = '30px';
    berryIcon.style.backgroundColor = 'rgba(0,255,0,.1)';
    berryIcon.style.borderRadius = '5px';

    // add marker to map
    var berryMarker = new mapboxgl.Marker(berryIcon)
    .setLngLat(marker.geometry.coordinates)
    .addTo(map);

    // Make popup, not added to map yet
    var popup = new mapboxgl.Popup({
        closeButton: false,
        closeOnClick: false
    })
    .setLngLat(marker.geometry.coordinates)
    .setHTML('<p><img src="' + marker.properties.image + '" style="max-height: 150; max-width: 150px;"></p>' // Add image to the popup
            + '<H4>Plant Number: '+ berryCount + ' </H4>' 
            + '<H4 style="font-size: 14px;">Latitude:' + marker.geometry.coordinates[0] + '</H4>'
            + '<H4 style="font-size: 14px;">Longitude:' + marker.geometry.coordinates[1] + '</H4>'
            + '<H4 style="background-color: red;">Has Flowers? No</H4>'); 
   

    berryIcon.addEventListener('mousedown', function() {
        let berryHTML = popup.getElement().innerHTML;
        let arr = parseIconHTML(berryHTML);
        for (let i = 0; i < arr.length; i++)
            console.log(arr[i]);
        favorites.push({'imageLink':arr[0], 'plantNum':arr[1], 'latitude':arr[2], 'longitude':arr[3], 'hasFlowers':arr[4]});
    });

    berryIcon.addEventListener('mouseenter', function() {
        berryIcon.style.zIndex = "2"; // Bring icon being hovered to front
        map.getCanvas().style.cursor = 'pointer'; // Change cursor to indicate response
        popup
            .addTo(map);
    });

    berryIcon.addEventListener('mouseleave', function() {
        berryIcon.style.zIndex = "1"; // Put it back down
        map.getCanvas().style.cursor = '';
        popup.remove();
    });
    berryArray.push(berryIcon);
    berryCount++;
});


function updateIconSize() {
    if (map.getZoom() > 21.5) {
        sizeUpdater("15px");
    } 
    if (map.getZoom() < 21.5) {
        sizeUpdater("30px");
    }
}

function sizeUpdater(size) {
    let docElement = document.getElementsByClassName("marker");
    for (let i = 0; i < docElement.length; i++) {
        docElement[i].style.width = size;
        docElement[i].style.height = size;
    }
}
</script>

{% endblock content %}