{% extends 'plants/main.html' %}
{% load static %}
{% block content %}
{% include 'plants/status.html' %}

<style>
    .button {
        margin: 0;
        position: fixed;
        top: 33%;
        left: 5.8%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        display: inline-block;
        border-radius: 4px;
        background-color: #f4511e;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 28px;
        padding: 20px;
        width: 200px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
    }

    .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

    .button span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }

    .button:hover span {
        padding-right: 25px;
    }

    .button:hover span:after {
        opacity: 1;
        right: 0;
    }

    .card-body {
        width: 500px;
    }

    .view-button {
        top: 70%;
    }

    .instruction-box {
        border-style: solid;
        border-width: thick;
        border-color: #000000;
        position: fixed;
        left: .9%;
        top: 27.6%;
        margin-top: 6%;
    }

    #map {
        border-style: solid;
        border-width: thick;
        border-color: #000000;
        width: 80%;
        height: 60%;
        margin: 0; 
        position: absolute;  
        left: 19.5%; 
        top: 29%;
    }

    #saved {
        border-style: solid;
        border-width: thick;
        border-color: #000000;
        width: 80%;
        height: 60%;
        margin: 0; 
        position: absolute;  
        left: 19.5%; 
        top: 29%;
    }

    .marker {
        width: 200px;
        height: 200px;
        background-size: cover;
        display: block;
    }

    .tips {
        text-decoration: none;
        color: white;
        background-color: black;
        border-radius: 50%;
        padding: 4px 8px;
    }

    .tips:hover {
        background-color: rgb(31, 29, 29);
    }

    /* Style the tab */
    .tab {
        z-index: 1;
        position: absolute;
        top: 29.5vh;
        left: 19.73vw;
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

    /* Style the buttons that are used to open the tab content */
    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
    }

    /* Change background color of buttons on hover */
    .tab button:hover {
        background-color: rgb(95, 91, 91);
    }

    /* Create an active/current tablink class */
    .tab button.active {
        background-color: #ccc;
    }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }

    #favorites {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        overflow-y: scroll;
    }

    .save {
        vertical-align:middle; 
        transform:translate(138%, 50%); 
        width: 10vw; 
        background-color: #f1f1f1;
    }

    .save:hover {
        background-color: rgb(95, 91, 91);
    }
</style>

<a class="button" href="{% url 'csv_upload' False %}" style="vertical-align:middle"><span>Back</span></a>
<div class="instruction-box card" style="width: 20rem; min-height: 50%; max-height: 50%">
    <div class="card-body" style="width: 400px">
      <a href="#" onclick="changeText('previous')" class="tips">&#8249;</a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <h5 class="card-title" style="font-family: fantasy; font-size: 28px; display: inline-block">Tips</h5>       
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<a href="#" onclick="changeText('next')" class="tips">&#8250;</a>
      <p id="tips-text" style="font-size: 21px; max-width: 70%;">This is a map displaying your field. Zoom in with the scroll wheel
                           to get a better view of each strawberry icon. Each of these icons represents an actual 
                           on the ground location of a plant. Hover over them with the cursor to see more information,
                           like images, coordinates, and more. 
      </p>
    </div>
</div>

<div class="tabcontent" id="saved">
    <a class="button save" onclick="saveLocal()"><span>save</span></a>
    <ul id="favorites" class="favs"></ul>
</div>

<div class="tab">
    <button class="tablinks" onclick="switchTabs(event, 'map')">Map</button>
    <button class="tablinks" onclick="switchTabs(event, 'saved')">Saved Plants</button>
</div>
<div id="map"></div> <!-- The main map -->


<script type="text/javascript">
var tipIndex = 0;
var favorites = [];
var MAX_MESSAGES = 3;

function saveLocal() {
    //localStorage.setItem('plantNum', favorites[0]['plantNum']);
    console.log(localStorage.getItem('plantNum'));
}

/*
* addStyle, adds a string in for style to the html.
*
* Consumes: 
* Produces: 
*/
function addStyle(toBeStyled, styleString) {
    let styleIndex = toBeStyled.indexOf("style");
    if (styleIndex === -1) {
        for (let i = 0; i < toBeStyled.length; i++) {
            if (toBeStyled[i+1] === ">") {
                toBeStyled = toBeStyled.substring(0, i) + styleString + toBeStyled.substring(i, toBeStyled.length);
            }
        }
    } else {

    }
    return toBeStyled;
}


/*
* switchTabs, changes the content on the center of the screen from the MapBox map to 
*             scene for viewing and saving favorited plants and vice versa.
*
* Consumes: tab -> String, the tab to switch to 
* Produces: Nothing
*/
function switchTabs(event, tab) {
        var map = document.getElementById("map");
        if (tab === "saved") {
            map.style.visibility = "hidden"; // Hides the map
            document.getElementById(tab).style.display = "block";
            event.currentTarget.className += " active";
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) { // Stop the interactivity for the tab so it doesn't get stuck on dark grey
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            // Loop for displaying the berry icons
            let imgStyle = " border: 5px solid black; border-radius: 10%; margin-left: 150px; margin-top: 60px; margin-bottom: 200px;  max-height: 250px; max-width: 250px; ";
            let plantNumStyle = " style=\"margin-left: -11vw; margin-top: 250px;\"";
            let latStyle = " style=\"margin-left: -8vw; margin-top: 275px;\"";
            let lonStyle = " style=\"margin-left: -11.3vw; margin-top: 300px;\"";
            let flowerStyle = " style=\"margin-left: -10.9vw; margin-top: 325px;\"";
            let favoritesDiv = document.getElementById("favorites");
            for (var i = 0; i < favorites.length; i++) {
                let imageHTML = favorites[i]['imageLink'];
                let styleIndex = imageHTML.indexOf("style");
                let modifiedHTML = imageHTML.substring(0, styleIndex+7) + imgStyle + "\"></p>";
                favoritesDiv.innerHTML += modifiedHTML;   


                let plantNum = favorites[i]['plantNum'];
                let modifiedPlantNum = plantNum.substring(0, 3) + plantNumStyle + plantNum.substring(3, plantNum.length);
                favoritesDiv.innerHTML += modifiedPlantNum; 

                let lat = favorites[i]['latitude'];
                let latStyleIndex = lat.indexOf("style");
                let modifiedLat = lat.substring(0, latStyleIndex) + latStyle + lat.substring(28, lat.length);
                favoritesDiv.innerHTML += modifiedLat;

                let lon = favorites[i]['longitude'];
                let lonStyleIndex = lon.indexOf("style");
                let modifiedLon = lon.substring(0, lonStyleIndex) + lonStyle + lon.substring(28, lon.length);
                favoritesDiv.innerHTML += modifiedLon; 
    
                let flowers = favorites[i]['hasFlowers'];
                let flowerStyleIndex = flowers.indexOf("style");
                let modifiedFlowers = flowers.substring(0, flowerStyleIndex) + flowerStyle + flowers.substring(34, flowers.length);
                console.log(modifiedFlowers);
                favoritesDiv.innerHTML += modifiedFlowers;         
            }
        } else {
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            map.style.visibility = "visible";
        }
}


/*
* changeText, changes the text of the tips box when next or previous button is pressed
* 
* Consumes: buttonType -> string, the next or previous button
* Produces: Nothing
*/
function changeText(buttonType) {
    let message = "";
    let temp = tipIndex;
    tipIndex = buttonType === "next" ? tipIndex+1 : tipIndex-1;
    if (tipIndex < 0) // Loop to the end
        tipIndex = MAX_MESSAGES;
    switch(tipIndex) {
            case 1:
                message = "Click on a plant you find interesting or want to save for later to save it. To view the plants\
                           you've saved, click on \"Saved Plants\" button in the top left corner of the map. There you can\
                           save the favorites you have for later or remove them. Click the map button to return to the map.";
                break;
            case 2: 
                message = "The closer to the ground you zoom in, the more plants you will be able to see. They get\
                           bigger/smaller based on how far you zoomed in or out.";
                break;
            case 3: 
                message = "You'll see that certain portions of the field are covered in red, yellow, and green sections.\
                           This is an analysis of which parts of your field have strawberry plants that are currently\
                           flowering. Red indicates little to no flowering, yellow for some, and green for many.";
                break;
            default:
                tipIndex = 0;
                message = "This is a map displaying your field. Zoom in with the scroll wheel\
                           to get a better view of each strawberry icon. Each of these icons represents an actual\
                           on the ground location of a plant. Hover over them with the cursor to see more information,\
                           like images, coordinates, and more. ";
        }
        document.getElementById('tips-text').innerHTML = message;
} 


/*
* parseIconHTML, parses the html associated with the strawberry icon hover html.
* 
* Consumes: htmlString -> String, the string to be parsed
* Produces: An array of strings (parsed)
*/
function parseIconHTML(htmlString) {
    let parsedString = "";
    let parsedArr = [];
    for (let i = 74; i < htmlString.length; i++) { // 74 because that's where the first <p> tag starts
        parsedString += htmlString[i];
            if (htmlString[i] === "<" && htmlString[i+1] === "/" && htmlString[i+6] != null) { // Ignore last </div>
                while (htmlString[i] != ">") {
                    i++;
                    parsedString += htmlString[i];
                }
                parsedArr.push(parsedString);
                parsedString = ""; // Reset
            }
        }
        return parsedArr;
}
//-----------------------------------------------------------------------------------------------------------------------------------------
// MAPBOX STUFF
mapboxgl.accessToken = 'pk.eyJ1Ijoid2lsbGlhbWZveCIsImEiOiJja2JzY3V0dTcwMGJ6MnZzYWF2cjRsNXYwIn0.fbOk4CcYFDOMA_nG9JCauA';
var meta = JSON.parse("{{meta|safe}}".replace(/'/g,'"'));
console.log(meta)


var geojson = {
    'type': 'FeatureCollection',
    'features': [
        
    ]
};
console.log("s3://tric-static-bucket/private/" + meta[0]['image'])
for (let i = 0; i < meta.length; i++) {
    var feature = {
            'type': 'Feature',
            'properties': {
            'message': 'Hello',
            'iconSize': [60, 60],
            'image': "https://tric-static-bucket.s3.us-east-2.amazonaws.com/media/" + meta[i]['image']
        },
        'geometry': {
            'type': 'Point',
            'coordinates': [meta[i]['gps_head_lon'], meta[i]['gps_head_lat']]
        }
    }
    geojson['features'].push(feature);
}

var map = new mapboxgl.Map({
container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
    center: [meta[0]['gps_head_lon'], meta[0]['gps_head_lat']],
    zoom: 15
});

// add markers to map
geojson.features.forEach(function(marker) {
    // create a DOM element for the marker
    var berryIcon = document.createElement('div');
    berryIcon.className = 'marker';
    berryIcon.style.backgroundImage = 'url(https://tric-static-bucket.s3.us-east-2.amazonaws.com/static/images/strawberry.png)';
    berryIcon.style.width = '30px';//marker.properties.iconSize[0] + 'px';
    berryIcon.style.height = '30px';//marker.properties.iconSize[1] + 'px';
    berryIcon.style.backgroundColor = 'rgba(0,255,0,.1)';
    berryIcon.style.borderRadius = '5px';

    // add marker to map
    new mapboxgl.Marker(berryIcon)
    .setLngLat(marker.geometry.coordinates)
    .addTo(map);

    // Make popup, not added to map yet
    var popup = new mapboxgl.Popup({
        closeButton: false,
        closeOnClick: false
    })
    .setLngLat(marker.geometry.coordinates)
    //.setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
    .setHTML('<p><img src="' + marker.properties.image + '" style="max-height: 150; max-width: 150px;"></p>' // Add image to the popup
            + '<H4>Plant Number: 12</H4>' 
            + '<H4 style="font-size: 14px;">Latitude:' + marker.geometry.coordinates[0] + '</H4>'
            + '<H4 style="font-size: 14px;">Longitude:' + marker.geometry.coordinates[1] + '</H4>'
            + '<H4 style="background-color: red;">Has Flowers? No</H4>'); 
   

    berryIcon.addEventListener('mousedown', function() {
        let berryHTML = popup.getElement().innerHTML;
        let arr = parseIconHTML(berryHTML);
        for (let i = 0; i < arr.length; i++)
            console.log(arr[i]);
        favorites.push({'imageLink':arr[0], 'plantNum':arr[1], 'latitude':arr[2], 'longitude':arr[3], 'hasFlowers':arr[4]});
    });

    berryIcon.addEventListener('mouseenter', function() {
        berryIcon.style.zIndex = "2"; // Bring icon being hovered to front
        map.getCanvas().style.cursor = 'pointer'; // Change cursor to indicate response
        popup
            .addTo(map);
    });

    berryIcon.addEventListener('mouseleave', function() {
        berryIcon.style.zIndex = "1"; // Put it back down
        map.getCanvas().style.cursor = '';
        popup.remove();
    });
});
</script>

{% endblock content %}