{% extends 'plants/main.html' %}
{% load static %}
{% load html_filters %}
{% block content %}
{% include 'plants/status.html' %}

<style>
    .instructions {
        text-align: center;
        font-size: 24px;
        font-family: fantasy;
    }

    .button {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        display: inline-block;
        border-radius: 4px;
        background-color: #f4511e;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 28px;
        padding: 20px;
        width: 200px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
    }

    .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

    .button span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }

    .button:hover span {
        padding-right: 25px;
    }

    .button:hover span:after {
        opacity: 1;
        right: 0;
    }

    .card-body {
        width: 500px;
    }

    .view-button {
        top: 80%;
    }

    .messages {
        background-color: rgb(73, 68, 68);
        color: #FFFFFF;
        margin-top: 15px;
    }

    .submit-box {
        display: inline-block;
        width: 500px;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 49%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .uploaded-box {
        width: 200px;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 73%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .container .box {
        margin:1vw; 
        display: table;
    }

    .container .box .box-row { 
        display:table-row; 
    } 

    .upload-list {
        margin-left: -22vw;
        min-height: 30vw;
        position: absolute;
        top: 25%;
        left: 40%;
        transform: translate(0%, 15%);
        background-color: #FFFFFF;
        width: 400px;
        border-style: groove;
        border-color: black;
    }

    .filename {
        text-align: justify;
        position: none;
        display: inline-block !important; 
        margin-left: 20px;
        margin-bottom: 20px;;
        width: 46%;
    }

    #zip-instruction {
        position: absolute;
        top: 30%;
        left: 0%;
        text-align: center;
        font-size: 24px;
        font-family: fantasy;
        transform: translate(120%, 20%);
    }

    #upload-gif {
        visibility: hidden;
        display: block;
        margin-left: auto;
        margin-right: auto;
        transform: translate(0%, -20%);
        width: 200px;
        height: 200px;
    }

    .submitform {
        transform: translate(0px, 10%);
    }
</style>

<p class="instructions">Follow the link below and sign into your Qnap account to upload your file. Click start once you recieve your data back from us</p>
<a style="color: rgb(134, 134, 243); margin-left: 720px; font-family: arial; font-size: 24px;" href="https://myqnapcloud.com/u#/my_device/no_device?r=1597791355418">Click to redirect to our cloud based file storage</a>

<div style="transform:translate(40%, 30%);">
    <p>Operator Name: <input id="operator_name"></p>
    <p>Camera Height(Meters): <input id="camera_height"></p>
    <p>Rotational Offset(Degrees): <input id="rotational_offset"></p>
    <p>Camera Fov X(Meters): <input id="cam_fov_x"></p>
    <p>Camera Fov Y(Meters): <input id="cam_fov_y"></p>
    <p>Notes: <input id="notes"></p>
    <a id="json_download" onclick=JsonDownload() class="btn btn-warning">Download</a>
</div>
<a class="button" href="{% url 'zip_upload' 'farmville' %}" style="transform:translate(-100px, 200px); vertical-align:middle"><span>View</span></a>


<script type="text/javascript">
    function JsonDownload() {
        var operator_name = document.getElementById("operator_name").value;
        var camera_height = document.getElementById("camera_height").value;
        var rotational_offset = document.getElementById("rotational_offset").value;
        var cam_fov_x = document.getElementById("cam_fov_x").value;
        var cam_fov_y = document.getElementById("cam_fov_y").value;
        var notes = document.getElementById("notes").value;
		var storageObj = {'operator_name':operator_name, "camera_height(meters)":camera_height,
                          'rotational_offset(degrees)':rotational_offset, "notes":notes,
                          'cam_fov_x':cam_fov_x, 'cam_fov_y':cam_fov_y};
		var dataStr = "data:text/json;charset=utf-8," + encodeURIComponent(JSON.stringify(storageObj));
		var dlAnchorElem = document.getElementById("json_download");
		dlAnchorElem.setAttribute("href",     dataStr     );
		dlAnchorElem.setAttribute("download", "collection_info.json");
	}

</script>

{% endblock content %}
