{%  extends 'plants/main.html' %}
{% block content %}
{% include 'plants/status.html' %}


<style>
	.form-horizontal {
		right: 50%;
	}
</style>
<link rel="stylesheet" type="text/css" href="css/file-upload.css" />
<script src="js/file-upload.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('.file-upload').file_upload();
    });
</script>
<form class="form-horizontal">
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <label class="file-upload btn btn-primary">
                Browse <input type="file" />
            </label>
        </div>
    </div>
</form>

{% endblock content %}