{%  extends 'plants/main.html' %}
{% load static %}
{% block content %}
{% include 'plants/status.html' %}

<style>
	.form-horizontal {
		margin-left: 40%;
        width: 100%;
        display: inline-block;
        margin-top: 250px;
	}
</style>

<form class="form-horizontal" action="{% url 'image_upload' %}" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <label class="file-upload btn btn-primary">
                Browse <input type="file" />
            </label>
        </div>
    </div>
</form>

{% endblock content %}